.column {
    float: left;
}
.left {
    width:25%;
}
.right {
    width: 75%;
}
.row {
    display: flex;
}
.column.left {
    text-align: right;
    border-right: 5px solid;
    margin-right: 10px;
}
.contact.column.left {
    text-align: right;
    border-right: 5px solid var(--secondary-color);
    margin-right: 10px;
}
.applications h2 {
    color: var(--primary-color);
    font-size: 30px;
    justify-content: flex-end;
}
.applications div h2 {
    flex-grow: 1;
    padding-right: 10px;
    align-items: flex-start;
}
.intro {
    width: 100%;
    background-color: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro h2 {
    color: var(--primary-color);
    font-size: 30px;
    justify-content: flex-end;
}
.intro div h2{
    flex-grow: 1;
    padding-right: 10px;
    align-items: flex-start;
}
.intro div p {
    flex-grow: 1;
    margin: 7px 0px;
}
.applications {
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.applications a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.application-flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item {
    width: 45%;
    border-radius: 10px;
    border: 4px solid var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url(../images/favicon.png);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    justify-content: flex-end;
}
footer div h2 {
    flex-grow: 1;
    padding-right: 10px;
    align-items: flex-start;
}
footer .column.left {
    border-right: 5px solid var(--secondary-color);
}    
footer a {
    text-decoration: none;
    color: var(--secondary-color);
}
footer nav {
    flex-grow: 1;
    margin: 7px 0px;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
footer nav ul li {
    display: inline;
    margin: 10px 5px;
}
iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
}






.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    grid-auto-flow: dense;
}
.grid-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid var(--secondary-color);
    font-size: 15px;
}
.title {
    text-align: right;
    align-items: flex-start;
    border: none;
    border-right: 5px solid var(--primary-color);
}
.intro-text {
    grid-column: 2 / span 3;
}
.application-area {
    grid-column: 2 / span 3;
}
.grid-container.applications-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    grid-auto-flow: dense;
}
.grid-item.item-1 {
    grid-column: span 4;
    grid-row: span 4;
}
.grid-item.item-2 {
    grid-column: span 2;
    grid-row: span 2;
}
.grid-item.item-3 {
    grid-column: span 2;
    grid-row: span 2;
}
.grid-item.item-4 {
    grid-column: span 2;
    grid-row: span 2;
}