* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #003153;
    --secondary-color: #00FFFF;
    --tertiary-color: #E5BD3F;
}
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}
.flex-row {
    display: flex;
}
header {
    padding: 10px 30px 10px 0px;
    border-bottom: none;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
header h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 10px 10px 10px 0px;
    padding-left: 60px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--secondary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
    margin: 10px 10px;
}
nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px 15px;
    font-weight: normal;
    font-size: 10px;
    border-bottom: 5px solid var(--secondary-color);
}
nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
}
h2 {
    position: relative;
}
h2 span {
    position: absolute;
    top: -120px;
}
.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.hero h2 {
    margin: 20px 60px;
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--secondary-color);
}
.intro-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--tertiary-color);
}
.intro-item.title {
    display: flex;
    width: 25%;
    margin: 10px;
    padding: 10px;
    justify-content: flex-end;
    align-content: flex-start;
    border-right: 4px solid var(--primary-color);
    text-align: right;
   
}
.intro-item.text {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 75%;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.applications-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--tertiary-color);
}
.applications-item.title {
    display: flex;
    width: 25%;
    margin: 10px;
    padding: 10px;
    justify-content: flex-end;
    align-content: flex-start;
    border-right: 4px solid var(--primary-color);
    text-align: right;
}
.applications-item.application-grid {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 75%;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    width: 100%;
}
.grid-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    font-size: 15px;
}
.grid-item div {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.8);
}
.item-1 {
    grid-column: span 4;
    grid-row: span 4;
    background-image: url(../images/run-buddy-scsh.png);
    background-size: cover;
    background-position: center center;
    height: 300px;
}
.item-2 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(../images/favicon.png);
    background-size: cover;
    background-position: center center;
}
.item-3 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(../images/favicon.png);
    background-size: cover;
    background-position: center center;
}
.item-4 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(../images/favicon.png);
    background-size: cover;
    background-position: center center;
}
.item-5 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(../images/favicon.png);
    background-size: cover;
    background-position: center center;
}
.contact-container {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
}
.contact-item.title {
    display: flex;
    width: 25%;
    margin: 10px;
    padding: 10px;
    justify-content: flex-end;
    border-right: 4px solid var(--secondary-color);
    text-align: right;
    color: var(--secondary-color);
}
.contact-item.links {
    display: flex;
    width: 75%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.contact-item.links ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}
.contact-item.links ul li {
    margin: 10px;
}
iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
}