* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #003153;
    --secondary-color: #00FFFF;
    --tertiary-color: #E5BD3F;
}
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 10px 30px 10px 0px;
    border-bottom: none;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px 10px 10px 0px;
    padding-left: 60px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--secondary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
    margin: 10px 10px;
}
nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px 15px;
    font-weight: normal;
    font-size: 36;
    border-bottom: 5px solid var(--secondary-color);
}
nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
}
.intro {
    width: 100%;
    background-color: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro h2 {
    color: var(--primary-color);
    font-size: 30px;
    justify-content: flex-end;
}
.intro div h2{
    flex-grow: 1;
    margin-right: 40px;
    border-right: 5px solid var(--primary-color);
    padding-right: 10px;
    align-items: flex-start;
}
.intro div p {
    flex-grow: 1;
    margin: 7px 0px;
}
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    justify-content: flex-end;
}
footer div {
    flex-grow: 1;
    margin-right: 40px;
    border-right: 5px solid var(--secondary-color);
    padding-right: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}
footer a {
    text-decoration: none;
    color: var(--secondary-color);
}
footer nav {
    flex-grow: 2;
    margin: 7px 0px;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
footer nav ul li {
    display: inline;
    margin: 10px 5px;
}
.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    width: 100vw;
    height: 20vh;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
}
.flex-row {
    display: flex;
}